<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Nimaism CoffeShop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../Static/Css/Heart.css'>
    <link rel="shortcut icon" href="../Static/Img/Coffe.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../Static/Js/Script.js"></script>
    <script>
        $(document).ready(function() {
            $( "#submit" ).click(function() {
                window.location.replace("https://nimaism.ir/");
            });
        });
    </script>
</head>
<body>
<div class="Main">
    <div class="Message">
        <span id="T1">یک دنیا ممنونم</span>
    </div>
    <div id="submit">پیش به سوی موفقیت</div>
</div>
</body>
</html>